body {
  font-family: 'Poppins', sans-serif; 
  background-color: hsl(0, 0%, 98%);
  text-align: center;
}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.first{
  font-weight: 200;
  margin: 20px auto 0 auto;
}

.second{
  font-weight: 600;
  margin-bottom: 10px auto 0 auto;
}

.intro{
  width: 500px;
  margin: auto;
}

.box{
  background-color: #fff;
  padding: 30px;
  margin: 30px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.push{
  transform: translateY(50%);
}

.firstcard{
  border-top: 5px solid red;
}
.secondcard{
  border-top: 5px solid cyan;
}
.thirdcard{
  border-top: 5px solid orange;
}
.forthcard{
  border-top: 5px solid blue;
}


.data{
  text-align: left;
}

.box img{
  display: block;
  margin-left: auto;
}

h3 {
  text-align: left;
}

@media (min-width: 410px){
 .box{
  transform: translateY(0);
}
}